apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec: # spec for deployment
  replicas: 1
  selector:
    matchLabels: 
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec: # specification for pods
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80